
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background-image: url(Heropage.png); */
  background-color: #d4fff7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:  100;
}

.logo{
font-size: 2em;
 color: #359381;
 pointer-events: none;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
 background: #359381; 
 color: #fff;
}


#scroll-3::-webkit-scrollbar{
  width:10px;
  background:#000; /*this is not important but just to explain that which part is being chnaged by this. Don't know why it's required to refresh after adding a new div with scrollbar*/
}

#scroll-3::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0px 0px 6px rgba(0,0,0,.3);
  background:#f4f4f4;
}

#scroll-3::-webkit-scrollbar-thumb{
  background:#1baaae;
  background-image: -webkit-linear-gradient(20deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.5) 50%, rgba(255,255,255,.5) 75%, transparent 75%);
}

.parallax{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
  padding: 0px 0px;
  margin: 0px 0px;
}


#text1,
#text2,
#text3,
#text4 {
  padding: 100px 0;
  text-align: center;
  font-size: 18em;
  color: #359381; 
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

#text1{
  z-index: 2;
}

#text2{
  z-index: 1;
}

#text4{
  z-index: 4;
}



.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  position: absolute;
  width: 100%; 
  height: 100%;
}

#Left{
  z-index: 1;
}

#Right{
  z-index: 3;
}

#sbag{
  z-index: 0;
  transform-origin: top center; /* Set the rotation origin to the top middle */
  transition: transform 0.5s ease-in-out;
}

.about{
  height: 50vh;
  position: relative;
  background: #529b8c;
  padding: 100px;
}

.about h2{
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.about p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.Product{
  height: 100vh;
  position: relative;
  background: #b9e8de;
  padding: 100px;
  display: flex;
  flex-direction: row;
}

.wrapper{
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  
  .container{
    width:100%;
    height:100%;
    .top{
      height: 80%;
      width:100%;
      background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
    }
    .bottom{
      width: 200%;
      height: 20%;
      display: flex;
      flex-direction: row;
      background: white;
      /* transition: transform 0.5s;
      &.clicked{
        transform: translateX(-50%);
      } */
      h1{
          margin:0;
          padding:0;
      }
      p{
          margin:0;
          padding:0;
      }
      .left{
        height:100%;
        width: 70%;
        /* background: #529b8c; */
        position:relative;
        float:left;

        .details{
          padding: 0px;
          float: left;
          width: calc(70% - 40px);
          
        }
      }
      .right{
        width: 30%;
        float:right;
        height:100%;
        overflow: hidden;
    }
  }
}
  
  .inside{
    z-index:9;
    background: #529b8c;;
    width:140px;
    height:140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    
    .icon{
      position:absolute;
      right:85px;
      top:85px;
      color:white;
      opacity: 1;
      font-size: 20px;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:80%;
      .icon{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      color: white;
      font-size:25px;
  
    }
  }
}

.Service{
  height: 100vh;
  position: relative;
  background: #71ab9d;
  padding: 100px;
  color: white ;
}

.Footer{
  height: 50vh;
  position: relative;
  background: #b7dfd6;
  padding: 100px;
}

.btn {
  /* padding: 0px; */
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* background: transparent; */
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background:#529b8c ;
}

.btn-sm {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: black;
  /* margin: 15px 15px 15px 15px; */
}



.btn-sm:hover {
  color: #529b8c;
}

.btn-sm:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

